* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #2B2D42;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
    margin-bottom: 3rem;
    background-color: #26273a;
}

.nav-dig-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px
}

.logop1 {
    color: #D90429;
}

.logop2 {
    color: #cbeef3;
}

.navbar {
    display: flex;
    gap: 50px;
}

a {
    color: white;
}

.navbar a:hover {
    color: #EF233C;
}

.main {
    margin-bottom: 2rem;
}

.section {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(0, 1fr);
    grid-template-rows: repeat(2, 300px);
    grid-auto-flow: column;
    column-gap: 40px;
    row-gap: 80px;
}

.dynamic-img {
    height: 230px;
}

.dynamic-container {
    display: flex;
    background-color: #26273a;
    padding: 30px;
    border-radius: 10px;
    color: white;
    width: 55vh;
}

.description {
    margin-left: 20px;
}

.uil-favorite {
    color: #f1b723;
}

.footer {
    bottom: o;
    width: 100%;
    height: 100px;
    background-color: #26273a;
    position: absolute;
}

.copyright {
    padding: 30px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    color: white;
}

.encontre-me {
    margin-left: 5px;
    font-size: 18px;
    color: #b6465f;
}